<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
    <property name="hibernate.connection.url">jdbc:hsqldb:mem:testdb;shutdown=false</property>
    <property name="hibernate.connection.username">sa</property><!-- default username -->
    <property name="hibernate.connection.password"/><!-- default password -->
    <property name="hibernate.connection.pool_size">10</property>
    <property name="hibernate.connection.autocommit">true</property>
    <property name="hibernate.hbm2ddl.auto">create-drop</property><!-- creates the tables from the entites automatically -->
    <property name="dialect">org.hibernate.dialect.HSQLDialect</property>

    <property name="show_sql">true</property>
    <mapping class="connectfour.persistence.hibernate.SaveGameHibernate" />
    <mapping class="connectfour.persistence.hibernate.GameFieldHibernate" />
    <mapping class="connectfour.persistence.hibernate.MatrixRow" />
    <mapping class="connectfour.persistence.hibernate.PlayerHibernate" />
    </session-factory>
</hibernate-configuration>
